[submodule "glfw"]
	path = glfw
	url = https://github.com/glfw/glfw
[submodule "glm"]
	path = glm
	url = https://github.com/g-truc/glm
[submodule "stb"]
	path = stb
	url = https://github.com/nothings/stb
[submodule "StringToText"]
	path = StringToText
	url = https://github.com/bmpringle/StringToText
[submodule "DeleteThread"]
	path = DeleteThread
	url = https://github.com/bmpringle/DeleteThread
